* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#arena {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 60vh;
  background-color: lightblue;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

input {
  position: relative;
  top: 95%;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: ghostwhite;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  border: 1px solid white;
}

button:hover {
  background-color: black;
  color: ghostwhite;
}

.black {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
}